/shelf/
/workspace.xml
/misc.xml
.idea/inspectionProfiles/*
.idea/dataSources.local.xml
/dataSources.local.xml
/dataSources/*
.idea/dataSources/
/dataSources/e9c5f270-6c05-4420-bb0d-d8067208649a.xml
/dataSources/e9c5f270-6c05-4420-bb0d-d8067208649a/
.idea/shelf
